@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis:wght@200..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

:root{
    font-size: 10px;
}

/* MENU */

header{
    width: 100%;
    position: fixed;
    background-color: white;
}

nav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    font-family: "Dosis", sans-serif;
}

.nav-menu{
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
    font-weight: bold;
    font-size: 2em;
    list-style: none;
}

#logo img{
    width: 80px;
}
#logo{
    font-family: "Bungee Spice", sans-serif;
    font-size: 4em;
    
}

/* CONTEÚDO */
.cont{
    height: 100vh;
    width: 100vw;
}